<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>PostResult</servlet-name>
  	<display-name>PostResult</display-name>
  	<description></description>
  	<servlet-class>PostResult</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AuthServ</servlet-name>
  	<display-name>AuthServ</display-name>
  	<description></description>
  	<servlet-class>AuthServ</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PostResult</servlet-name>
  	<url-pattern>/result</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AuthServ</servlet-name>
  	<url-pattern>/insurancyCalc</url-pattern>
  </servlet-mapping>
</web-app>
